libs/__pycache__/*
__pycache__/*
maps/__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
dist/*
build/*
*.egg
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
__pycache__/
**/.DS_Store
libs/__init__.py
